<html>

<head>
    <link rel="stylesheet" href={{ url_for( 'static', filename='style.css' ) }} />
</head>
<body>
    <h1><center>Welcome</center></h1>
    <center>
        <center>
        <div class='item'>
                <form>
                    <button type="button">Search for Movie</button>
                    <input type="text" placeholder="Search..." name="search">
                    <button type="submit"><i class="fa fa-search">Search</i></button>
                </form>
        </div>
        </center>
    </center>
  <!-- <center>
        <div class='item'>
                <form>
                    <button type="button">Search By Genre</button>
                    <select id="genres" name="genres">
                        {%for i in genres%}
                        <option value="{{i}}">{{i}}</option>
                        {%endfor%}
                    </select>
                    <input type="submit">
                </form>
        </div>
     </center>  --> 
</body>
</html>